dist
node_modules

annotated.tsv
dropped.tsv

!data
data/*
!data/manual*.json
!data/train-0*.json
!data/test-0*.json
!data/train-auto-annotated.json
!data/test-auto-annotated.json
!data/train.json
!data/test.json
!data/entity-mappings.json

data-test

